<app-client-layout>

<div class="banner-image">
    <img src={{bannerImage}} alt="property image" srcset="">
</div>

<div class="property-info-container">
    <div class="property-left">
        <div class="brief">
            <p>{{house?.address?.street}}, {{house?.address?.state}}</p>
            <h1>{{house?.title}}, {{house?.address?.city}}</h1>
            <div class="house-numbers">
                <div class="number-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-width="1.5">
                            <path d="M3 21V3.6a.6.6 0 0 1 .6-.6H21" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17 21h3.4a.6.6 0 0 0 .6-.6V17m0-10v2m0 3v2M7 21h2m3 0h2" />
                            <path fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                d="M3 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2Zm0 18a1 1 0 1 0 0-2a1 1 0 0 0 0 2ZM21 4a1 1 0 1 0 0-2a1 1 0 0 0 0 2Z" />
                        </g>
                    </svg>
                    <p>{{house?.area}} sqft</p>
                </div>
                <div class="number-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path fill="currentColor"
                            d="M6 6C4.355 6 3 7.355 3 9v6.781c-.61.551-1 1.34-1 2.219v9h5v-2h18v2h5v-9c0-.879-.39-1.668-1-2.219V9c0-1.645-1.355-3-3-3zm0 2h20c.555 0 1 .445 1 1v6h-2v-1c0-1.645-1.355-3-3-3h-4c-.766 0-1.469.3-2 .781A2.984 2.984 0 0 0 14 11h-4c-1.645 0-3 1.355-3 3v1H5V9c0-.555.445-1 1-1zm4 5h4c.555 0 1 .445 1 1v1H9v-1c0-.555.445-1 1-1zm8 0h4c.555 0 1 .445 1 1v1h-6v-1c0-.555.445-1 1-1zM5 17h22c.555 0 1 .445 1 1v7h-1v-2H5v2H4v-7c0-.555.445-1 1-1z" />
                    </svg>
                    <p>{{house?.bedrooms}}</p>
                </div>
                <div class="number-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="1.5">
                            <path
                                d="M21 13v3a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4v-2.4a.6.6 0 0 1 .6-.6H21Zm-5 7l1 2m-9-2l-1 2m14-9V7a4 4 0 0 0-4-4h-5" />
                            <path
                                d="M15.4 8H8.6c-.331 0-.596-.268-.56-.598C8.186 6.075 8.863 3 12 3s3.814 3.075 3.96 4.402c.036.33-.229.598-.56.598Z" />
                        </g>
                    </svg>
                    <p>{{house?.bathrooms}}</p>
                </div>
            </div>
            <p class="short-info">
               {{house?.headline}}
            </p>
        </div>
        <div class="about-property">
            <h3>About the Property</h3>
            <div class="rich-output" [innerHTML]="house?.description"></div>
        </div>
        <div class="property-amenities">
            <h3>Properties Amenities</h3>
            <div class="amenities">
                @for (feat of house?.features; track $index) {
                    <div class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill="currentColor" d="m6.933.332l.113.101l.89.89l1.26.001a1.48 1.48 0 0 1 1.453 1.198l.02.138l.007.143l-.002 1.259l.893.892a1.48 1.48 0 0 1 .19 1.86l-.089.12l-.101.112l-.893.891l.001 1.258c0 .659-.432 1.224-1.056 1.415l-.136.035l-.142.023l-.144.007h-1.26l-.891.892a1.48 1.48 0 0 1-1.86.19l-.12-.089l-.112-.101l-.892-.893l-1.258.001A1.48 1.48 0 0 1 1.35 9.48l-.02-.139l-.006-.142V7.936l-.89-.89a1.48 1.48 0 0 1-.19-1.86l.088-.12l.101-.112l.89-.891l.001-1.26c0-.72.516-1.32 1.198-1.452l.139-.02l.142-.007h1.26l.891-.89a1.48 1.48 0 0 1 1.98-.102zm1.212 3.657l-.085.071L5.5 6.62L4.44 5.56a.63.63 0 0 0-.88 0a.63.63 0 0 0-.071.795l.071.085l1.5 1.5a.625.625 0 0 0 .804.065l.076-.065l3-3a.61.61 0 0 0 0-.88a.63.63 0 0 0-.795-.071"/></svg>
                        
                        {{feat.type.name}}
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="property-right">
        <div class="contact-info">
            <div class="price-container">
                <p>Property for {{house?.listing_type}}</p>
                <h2>{{house?.price || 0 | ghsCurrency}}</h2>
            </div>
            <div class="get-in-touch">
                <form action="" method="post">
                    <h4>Get in touch to recieve more info</h4>
                    <input placeholder="Full name" type="text" name="fullName" id="fullName">
                    <input placeholder="Email address" type="email" name="emailAddress" id="emailAddress">
                    <input placeholder="Phone number" type="tel" name="phoneNumber" id="phoneNumber">
                    <button type="submit">Request info</button>
                </form>
            </div>
            <div class="contacts">
                <h4>Reach the agent</h4>

                <div class="contact">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                    </svg>
                    <a href="tel:">+(233) 530 191 122</a>
                </div>
                <div class="contact">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                    </svg>

                    <a href="mailto:">email&#64;domain.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery-container">
    <div class="header">
        <h3>Property Gallery</h3>
        <button>Book a walkin</button>
    </div>
    <div class="images">
        @for (image of house?.images; track image) {
        <div class="image">
            <img src="{{image.url}}" alt="">
        </div>
        }
    </div>
</div>
</app-client-layout>