main {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;

    .sidebar {
        width: 25vw;
        background-color: rgba(184, 184, 184, 0.186);
        border-radius: 1rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        nav {
            display: flex;

            .navbar-logo {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                svg {
                    width: 2rem;
                }
            }
        }

        .spacer {
            flex: 1;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .links {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    svg {
                        height: 2rem;
                    }
                }
            }
        }

        .profile {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .info {
                display: flex;
                align-items: center;
                gap: 1rem;

                .avatar{
                    height: 3.5rem;
                    width: 3.5rem;
                    background-color: aliceblue;
                    border-radius: 10%;
                    overflow: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
                .cred{
                    display: flex;
            flex-direction: column;
            gap: .3rem;
                    font-size: .8rem;
                    color: rgb(119, 119, 119);

                    .name{
                        font-size: 1rem;
                        color: black;
                    }
                }
            }

            .logout{
                background-color: black;
                color: white;
                border-radius: 0.5rem;
                padding: 1rem;
                cursor: pointer;
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
