@use 'media-queries' as *;

.header {
  padding: 0rem 5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  line-height: 2rem;
  max-width: 50vw;
  margin: auto;

  h1 {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    color: rgb(147, 147, 147);
  }
}

.search-container {
  padding: 4rem 5rem;
}

.featured-grid {
  padding: 0rem 5rem;
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 5rem;
  gap: 2rem;



  @include sm {
    grid-template-columns: 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.hero-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;

  .hero-btn {
    cursor: pointer;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-primary-foreground);
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: background 0.2s;


    &.secondary {
      background-color: white;
      color: var(--color-text);
    }

    &:hover {
      background: var(--color-accent);
      color: white;
    }

  }
}