@if(house){
    <a [routerLink]="['/listings', house.id]" class="house-card-link">
        <div class="house-card">
            <img [src]="house.images[0]" [alt]="house.title" class="house-image">
            <div class="house-info">
                <p class="house-price">{{ house.price | ghsCurrency }}</p>

                <h3>{{ house.title }}</h3>
                <p class="house-location">{{ house.address.street }}, {{ house.address.city }}</p>
                <div class="house-meta">
                    <span class="house-type">for {{ house.listingType | titlecase }}</span>
                </div>
                <div class="house-details">
                    <span>{{ house.bedrooms }} beds</span>
                    <span>{{ house.bathrooms }} baths</span>
                    <span>{{ house.area }} sqft</span>
                </div>
            </div>
        </div>
    </a>
}