<app-client-layout>
  
  <div class="hero-section">
    <div class="hero-content">
      <h1>East Legon Creck Ghana: Live in Luxury Ghana</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi dolorem provident ut minus</p>

      <div class="hero-actions">
        <a routerLink="/listings" class="hero-btn">Browse Properties</a>
        <a routerLink="/contact" class="hero-btn secondary">Talk to an agent</a>
      </div>
    </div>
    <div class="hero-illustration">
      <img src="assets/images/hero-image.png" alt="hero image">
    </div>
  </div>

  <div class="featured-section">
    <div class="header">
      <h2>Featured Listings</h2>

      <a [routerLink]="'/listings'">Browse Properties</a>
    </div>
    <div class="featured-list">
      @for (house of homes; track $index) {
      <a [routerLink]="'/listings/'+house.id" class="featured">
        <div class="image-container">
          <img [src]="house.images[0].url" [alt]="house.title" class="house-image">
          <div class="house-type">
            For {{house.listing_type}}
          </div>
        </div>
        <div class="info-container">
          <div class="location-price-container">
            <div class="location">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
              </svg>
              {{house.address.street}},{{house.address.state}}
            </div>
            <p class="price">{{house.price | ghsCurrency }}</p>
          </div>
          <h3>{{house.title}} in {{house.address.city}}</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, accusantium. Accusantium est temporibus
            possimus maiores.</p>
          <div class="house-numbers">
            <div class="number-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M3 6.25A3.25 3.25 0 0 1 6.25 3h11.5A3.25 3.25 0 0 1 21 6.25v11.5A3.25 3.25 0 0 1 17.75 21h-3.536c.406-.432.731-.94.953-1.5h2.583a1.75 1.75 0 0 0 1.75-1.75V6.25a1.75 1.75 0 0 0-1.75-1.75H6.25A1.75 1.75 0 0 0 4.5 6.25v2.583a4.753 4.753 0 0 0-1.5.953V6.25ZM13.49 19.5a3.247 3.247 0 0 1-2.74 1.5h-4.5A3.25 3.25 0 0 1 3 17.75v-4.5A3.247 3.247 0 0 1 6.25 10h4.5A3.25 3.25 0 0 1 14 13.25v4.5c0 .644-.188 1.245-.51 1.75ZM4.5 13.25v4.5c0 .966.784 1.75 1.75 1.75h4.5a1.75 1.75 0 0 0 1.75-1.75v-4.5a1.75 1.75 0 0 0-1.75-1.75h-4.5a1.75 1.75 0 0 0-1.75 1.75Z" />
              </svg>
              <p>{{house.area}} sqft</p>
            </div>
            <div class="number-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path fill="currentColor"
                  d="M6 6C4.355 6 3 7.355 3 9v6.781c-.61.551-1 1.34-1 2.219v9h5v-2h18v2h5v-9c0-.879-.39-1.668-1-2.219V9c0-1.645-1.355-3-3-3zm0 2h20c.555 0 1 .445 1 1v6h-2v-1c0-1.645-1.355-3-3-3h-4c-.766 0-1.469.3-2 .781A2.984 2.984 0 0 0 14 11h-4c-1.645 0-3 1.355-3 3v1H5V9c0-.555.445-1 1-1zm4 5h4c.555 0 1 .445 1 1v1H9v-1c0-.555.445-1 1-1zm8 0h4c.555 0 1 .445 1 1v1h-6v-1c0-.555.445-1 1-1zM5 17h22c.555 0 1 .445 1 1v7h-1v-2H5v2H4v-7c0-.555.445-1 1-1z" />
              </svg>
              <p>{{house.bedrooms}}</p>
            </div>
            <div class="number-container">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                  <path
                    d="M21 13v3a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4v-2.4a.6.6 0 0 1 .6-.6H21Zm-5 7l1 2m-9-2l-1 2m14-9V7a4 4 0 0 0-4-4h-5" />
                  <path
                    d="M15.4 8H8.6c-.331 0-.596-.268-.56-.598C8.186 6.075 8.863 3 12 3s3.814 3.075 3.96 4.402c.036.33-.229.598-.56.598Z" />
                </g>
              </svg>
              <p>{{house.bathrooms}}</p>
            </div>
          </div>
        </div>
      </a>
      }
    </div>
  </div>


  <div class="featured-section">
    <div class="header">
      <h2>All Properties</h2>

      <a [routerLink]="'/listings'">Browse Properties</a>
    </div>
    <ng-container *ngIf="featuredHouses.length > 0; else noResults">
      <div class="featured-grid">
        @for (house of recentHomes; track house.id) {
        <app-house-card [house]="house"></app-house-card>
        }
      </div>
    </ng-container>
    <ng-template #noResults>
      <div class="no-results">
        <h3>No listings found</h3>
        <p>Try adjusting your search or filter to find available homes.</p>
      </div>
    </ng-template>
  </div>

  <div class="how-to-container">
    <h2>Find youe dream house as easy as 1,2,3.</h2>
    <div class="steps">
      <div class="step">
        <div class="number">1</div>
        <h3>Search for your favourite house in your location.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus optio explicabo blanditiis.
          Molestias qui hic cum perspiciatis eaque error.</p>
      </div>

      <div class="step">
        <div class="number">2</div>
        <h3>Make a visit appointment with one of our agent.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus optio explicabo blanditiis.
          Molestias qui hic cum perspiciatis eaque error.</p>
      </div>
      <div class="step">
        <div class="number">3</div>
        <h3>Get your dream house in a month or less</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique repellendus optio explicabo blanditiis.
          Molestias qui hic cum perspiciatis eaque error.</p>
      </div>
    </div>
    <a [routerLink]="'/listings'">Browse Properties</a>
  </div>


  <div class="about-us">
    <div class="info">
      <h3>The best place to discover amazing properties at great prices</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, at quisquam. Voluptas iusto, rerum ullam omnis
        quae perferendis repellendus deserunt aliquam doloribus veniam! Neque voluptatibus natus vitae repudiandae optio
        nam.</p>
      <a [routerLink]="'/about'">About Our Company</a>
    </div>
    <div class="illustration">
      <img src="assets/images/illustration-about-us.png" alt="" srcset="">
    </div>
  </div>

  <div class="contact">
    <div class="content">
      <div class="title">
        <h2>Are you looking to buy or sell a property ? Get in touch today</h2>
      </div>
      <div class="action">
        <a href="tel:+" class="phone">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
          </svg>

          +233 53 019 1122
        </a>
        <a href="mailto:" class="mail">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
          </svg>
          support&#64;realtorgh.com
        </a>
      </div>
    </div>
  </div>


</app-client-layout>